In [ ]:
# Exercise 1: Create a Jupyter Notebook

In [ ]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [ ]:
# Exercise 3: Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
# Exercise 4: Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

In [ ]:
# Exercise 5: Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

In [ ]:
# Exercise 6: Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

In [ ]:
# Exercise 7: Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
# Exercise 8: Create a code cell to multiply and add numbers

In [ ]:
# This a simple arithmetic expression to multiply then add integers

In [5]:
(3*4)+5

17

In [ ]:
# Exercise 9: Create a code cell to convert minutes to hours

In [ ]:
# This will convert 200 minutes to hours by dividing by 60

In [6]:
200 / 60

3.3333333333333335

In [ ]:
# Exercise 10: Insert a markdown cell to list Objectives

## Objectives:
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Evaluate arithmetic expressions in Python
- Create and share Jupyter Notebooks

In [ ]:
# Exercise 11: Create a markdown cell to indicate the Author's name

## Author
Shivendra Tiwari